<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.soboleva.vkmusicapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATENE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_owl_headphones"
            android:theme="@style/AppTheme"
            android:name=".application.VkMusicApplication"
            android:label="@string/app_name"
            >

        <activity
                android:name=".ui.activities.MainActivity"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.AudioListActivity"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".ui.activities.FriendAudioActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.vk.sdk.VKOpenAuthActivity"/>


        <service android:name=".AudioIntentService"/>

        <receiver android:name=".utils.WiFiConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
